<html>
<head>
   <title>knottyTom's Tour Guide System</title>
   <link rel="Stylesheet" href="/stylesheets/biketour.css" type="text/css" media="screen" />
</head>
<body>
   <center><h1>knottyTom's Tour Guide System (The Rails Web Interface) <%= version %></h1></center>
   
   <%= @content_for_layout %>
   
</body>
</html>
