<h1>Step Three Of <%= create_steps_number %> (<%= @session["dir"] %>)</h1>
<p>
   <%= start_form_tag :controller => 'intro', :action => 'index' %>
   <%= text_field "dir", "dir", "size" => 40, "maxlength" => 40 %>
   <%= submit_tag "Back To Intro" %>
   <%= end_form_tag %>
</p>

