<h1>Step Two Of <%= create_steps_number %> (<%= @session["dir"] %>)</h1>
<p>
   <%= start_form_tag :action => 'step3' %>
   <%= text_field "dir", "dir", "size" => 40, "maxlength" => 40 %>
   <%= submit_tag "Step Three" %>
   <%= end_form_tag %>
</p>

